body {
    font-family: 'Roboto', sans-serif;
}

.first-section {
    display: flex;
}

.second-section {
    display: flex;
}

.second-section img {
    width: 35%;
}

.second-section p {
    font-size: 18px;
}

.first-section div {
    margin-left: 110px;
    margin-top: 100px;
    width: 50%;
}

.stay-focused-p {
    font-size: 25px;
    padding-bottom: 15px;
}

.mission-one-heading {
    font-size: 60px;
    border-left: 5px solid red;
    padding-left: 10px;
}

.mission-two-heading {
    text-align: center;
    font-size: 55px;
}

.focused-img {
    width: 65%;
}

.orange-color {
    color: orange;
}

.button {
    text-decoration: none;
    background-color: orangered;
    padding: 15px 40px;
    border-radius: 7px;
    color: white;
}

.scroll-down {
    padding-top: 20px;
    font-size: 18px;
}

.parallel-box {
    width: 33.33%;
    margin-left: 45px;
    margin-right: 45px;
    padding: 25px;
    border-radius: 20px;
}

h3 {
    font-size: 25px;
}

.p-box-1 {
    background-color: rgba(255, 218, 185, 0.36);
}

.p-box-2 {
    background-color: rgba(187, 123, 162, 0.217);
}

.p-box-3 {
    background-color: rgba(132, 185, 199, 0.217);
}